<!DOCTYPE HTML>
<html id="view">
    <head>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script type="text/javascript" src="../javascripts/login.js"></script>
        


    </head>
    <body>
       <header>
           <h1>HAW EVENTS</h1>
    </header>

    <main>
           <form id="formtable" action="../index.html" method="POST">
               <table>
                   <tr>
                       <td>Benutzername <input type="text" class="input" id="name"></td>
                   </tr>
                   <tr>
                       <td>Passwort: <input type="password" class="input" id ="password"> </td>
                   </tr>
               </table>
                <button id="submitbutton" type="submit" value="">LOGIN</button>
           </form>
        
    </main>
    
    </body>
</html>