<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
        
        


    </head>
    <body>
       <header>
           <h1>HAW EVENTS</h1>
    </header>

    <main>
           <form id="formtable" action="../index.html" method="POST">
               <table>
                   <tr>
                       <td>Benutzername <input type="text"></td>
                   </tr>
                   <tr>
                       <td>Passwort: <input type="password"> </td>
                   </tr>
               </table>
                <button type="submit" value="">LOGIN</button>
           </form>
        
    </main>
    
    </body>
</html>