<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../public/css/calenderstyle.css" />
        <!----<script type="text/javascript" src="/javascripts/jquery.js"></script> -->
        


    </head>
    <body>
       <header>
           <h1>HAW EVENTS
                <a class="link1" href="../index.html">ERSTELLEN</a>
                <a class="link1" id="kalenderlink" href="">KALENDER</a>
                <a id="logout" href="login.html">Logout</a>
           </h1>
    </header>

    <main>
            <table id="kalender">
            </table>
        
    </main>
    <script type="text/javascript" src="../javascripts/Calendarfunction.js"></script>
    
    </body>
</html>